useDynLib("schanBMLgrid")

exportPattern("^[[:alpha:]]+")
exportMethods(
    "as.data.frame",
    "bluecars",
    "getdim",
    "plot",
    "redcars",
    "summary",
    "updateBlue",
    "updateRed" 
)
exportClasses(
    "BMLgrid" 
)


